[v-cloak] { display: none !important; }

/* ページ全体のスクロールを禁止し、mainの中だけスクロール可能にする */
body, html {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* スライドアップアニメーション */
.slide-up-enter-active, 
.slide-up-leave-active {
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.slide-up-enter-from, 
.slide-up-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

/* 画像がぼやけないように設定 */
img {
  image-rendering: -webkit-optimize-contrast;
}